<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>ID: {{.ID}}</p>
<p>First name: {{.FName}}</p>
<p>Last name: {{.LName}}</p>
<p>e-Mail: {{.Email}}</p>
<p>Blood type: {{.BloodType}}</p>
<p>CPF: {{.Cpf}}</p>
<p>Birth date: {{.Birth}}</p>
<p>Phone number: {{.Phone}}</p>
<p>Mobile number: {{.Mobile}}</p>
</body>
</html>